## Import Neccessary Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

## Import Csv Files

In [2]:
dim_match_summary = pd.read_csv("D:\Power BI Project\Codebasics Resume Project Challenge 10\C10_Input_Files\datasets\dim_match_summary.csv")
dim_players = pd.read_csv("D:\Power BI Project\Codebasics Resume Project Challenge 10\C10_Input_Files\datasets\dim_players.csv")
fact_batting = pd.read_csv(r"D:\Power BI Project\Codebasics Resume Project Challenge 10\C10_Input_Files\datasets\fact_bating_summary.csv")
fact_balling = pd.read_csv(r"D:\Power BI Project\Codebasics Resume Project Challenge 10\C10_Input_Files\datasets\fact_bowling_summary.csv")

## Read CSV Files

In [3]:
dim_match_summary.head()

         team1        team2       winner     margin     matchDate match_id
0  Super Kings          KKR  Super Kings    27 runs  Oct 15, 2021  T203817
1     Capitals          KKR          KKR  3 wickets  Oct 13, 2021  T206442
2          RCB          KKR          KKR  4 wickets  Oct 11, 2021  T208597
3     Capitals  Super Kings  Super Kings  4 wickets  Oct 10, 2021  T201819
4     Capitals          RCB          RCB  7 wickets   Oct 8, 2021  T205942

In [4]:
dim_players.tail()

,name,team,battingStyle,bowlingStyle,playingRole
287,AbishekPorel,Capitals,Left hand Bat,Not Available,Wicketkeeper Batter
288,SisandaMagala,Super Kings,Right hand Bat,Right arm Fast medium,Bowler
289,MohitRathee,Punjab Kings,Right hand Bat,Legbreak,Allrounder
290,RajvardhanHangargekar,Super Kings,Right hand Bat,Right arm Fast medium,Bowling Allrounder
291,ReeceTopley,RCB,Right hand Bat,Left arm Fast medium,Bowler

In [5]:
fact_batting.sample(5)

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
2850,T205539,Super Giants Vs Royals,Royals,6,RiyanParag,not_out,15,12,1,1,125.00
1289,T201720,Mumbai Vs Titans,Mumbai,3,SuryakumarYadav,out,13,11,0,1,118.18
881,T209178,KKR Vs Sunrisers,Sunrisers,3,ManishPandey,not_out,61,44,2,3,138.63
556,T201595,KKR Vs Capitals,Capitals,4,MarcusStoinis,not_out,6,3,1,0,200.00
2684,T208781,Titans Vs Mumbai,Titans,3,HardikPandya,out,13,14,1,0,92.85

In [6]:
fact_balling[0:7]

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.0,6,2,3,0,0
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.0,8,1,2,0,0
2,T203817,Super Kings Vs KKR,KKR,LockieFerguson,4.0,0,56,0,14.0,4,7,2,2,0
3,T203817,Super Kings Vs KKR,KKR,VarunChakravarthy,4.0,0,38,0,9.5,5,2,2,0,1
4,T203817,Super Kings Vs KKR,KKR,SunilNarine,4.0,0,26,2,6.5,6,0,1,1,0
5,T203817,Super Kings Vs KKR,KKR,VenkateshIyer,1.0,0,5,0,5.0,2,0,0,0,0
6,T203817,Super Kings Vs KKR,Super Kings,DeepakChahar,4.0,0,32,1,8.0,10,4,1,1,0

## Expolatory Data Analysis

### Total wins for each team:

In [7]:
gp = dim_match_summary.groupby('winner')

In [8]:
gp.size()

winner
Capitals        21
KKR             21
Mumbai          20
Punjab Kings    19
RCB             25
Royals          22
Sunrisers       13
Super Giants    17
Super Kings     25
Titans          23
dtype: int64

### Lets check the number of matches for each season:

In [9]:
season = pd.to_datetime(dim_match_summary['matchDate']).dt.year
season_grouped = dim_match_summary.groupby(season)
season_grouped.size()

matchDate
2021    59
2022    74
2023    72
2029     1
dtype: int64

### Top 10 batsmen based on past 3 years total runs scored:

In [10]:
batsman_runs = fact_batting.groupby('batsmanName').sum('runs')
batsman_runs.sort_values(by=['runs'], ascending = False ).head(10)[['runs','balls','4s','6s']]

                 runs  balls   4s  6s
batsmanName
ShubmanGill      1851   1331  186  56
FafduPlessis     1831   1300  169  72
RuturajGaikwad   1593   1157  143  67
KLRahul          1516   1148  121  64
JosButtler       1509   1027  152  72
ShikharDhawan    1392   1081  156  40
ViratKohli       1385   1090  140  33
SanjuSamson      1304    902  113  67
SuryakumarYadav  1225    763  128  54
GlennMaxwell     1214    752  108  67

### Top 10 bowlers based on past 3 years total wickets taken.

In [11]:
bowler_wicket = fact_balling.groupby('bowlerName').sum('wickets')
bowler_wicket.sort_values(by=['wickets'], ascending = False ).head(10)['wickets']

bowlerName
MohammedShami        67
YuzvendraChahal      66
HarshalPatel         65
RashidKhan           63
AveshKhan            47
KagisoRabada         45
ArshdeepSingh        45
VarunChakravarthy    44
ShardulThakur        43
TrentBoult           42
Name: wickets, dtype: int64

### Top 5 batsmen based on past 3 years boundary % (fours and sixes).

In [12]:
group_name = fact_batting.groupby('batsmanName').sum('6s')
group_name['TotalBoundaries']=group_name['4s']+group_name['6s']
group_name['Boundaries%'] = (group_name['TotalBoundaries']/group_name['balls'])*100
sorted_data = group_name[group_name['balls']>150].sort_values(by=['Boundaries%'],ascending=False)
sorted_data.head(5)[['balls','TotalBoundaries','Boundaries%']]

                 balls  TotalBoundaries  Boundaries%
batsmanName
RashidKhan         172               44    25.581395
YashasviJaiswal    744              188    25.268817
PrithviShaw        532              130    24.436090
SuryakumarYadav    763              182    23.853211
KyleMayers         246               58    23.577236

### Top 5 bowlers based on past 3 years dot ball %.

In [13]:
fact_balling['balls']= fact_balling['overs']*6
grouped_bowler_data = fact_balling.groupby('bowlerName').sum('0s')
grouped_bowler_data['dot_balls_%']=(grouped_bowler_data['0s']/grouped_bowler_data['balls'])*100
final_group = grouped_bowler_data[grouped_bowler_data['balls']>180]
final_group['dot_balls_%'].nlargest(5)

bowlerName
MohsinKhan        50.387597
PrasidhKrishna    48.119822
MohammedSiraj     47.712418
MohammedShami     47.645740
TrentBoult        46.529620
Name: dot_balls_%, dtype: float64

### Top 4 teams based on past 3 years winning %.

In [14]:
matches_won = dim_match_summary.groupby('winner').size()
team1_played = dim_match_summary.groupby('team1').count()['match_id']
team2_played = dim_match_summary.groupby('team2').count()['match_id']
total_matchs = team1_played+team2_played
((matches_won/(total_matchs))*100).nlargest(4)

winner
Titans          69.696970
Super Giants    58.620690
RCB             55.555556
Super Kings     55.555556
dtype: float64

### Top 2 teams with the highest number of wins achieved by chasing targets over the past 3 years.

In [15]:
chased_win_team = dim_match_summary[dim_match_summary['team2'] == dim_match_summary['winner']]
chased_win_team.groupby('winner').size().nlargest(2)

winner
Capitals    14
KKR         14
dtype: int64

### Top 10 batsmen based on past 3 years batting average. (min 60 balls faced in each season)

In [16]:
# First we create a new df with matchDate merged into fact_batting:
bat_with_date = fact_batting.merge(dim_match_summary[['match_id','matchDate']], how = 'inner', on = 'match_id')
# Let's add the season column too:
bat_with_date['Season'] = pd.to_datetime(bat_with_date['matchDate']).dt.year
# Let's get the total runs by each player:
batsman_60 = bat_with_date.groupby(['Season','batsmanName']).filter(lambda x:(x['balls'].sum()>=60).all())
# Here we are specifying the condition that we only need those players who played in all the last three seasosn:
seasons_played = batsman_60.groupby('batsmanName')['Season'].nunique()
batsman_with_3_season = seasons_played[seasons_played == 3].index
new_batsman_60 = batsman_60[batsman_60['batsmanName'].isin(batsman_with_3_season)]
# Now calculate total runs and outs for these players
total_runs = new_batsman_60.groupby('batsmanName')['runs'].sum()
total_outs = new_batsman_60[new_batsman_60['out/not_out'] == 'out'].groupby('batsmanName').size()
# Here we concatenated the two df's:
batting_stats = pd.concat([total_runs,total_outs],axis = 1)
# Renaming the columns for better understanding:
batting_stats.columns = ['Total_runs',"Total_out"]
# Last we can find the batting average:
batting_stats['batting_average'] = round(batting_stats['Total_runs']/batting_stats['Total_out'],2)
# now we can see the top 10:
batting_stats['batting_average'].nlargest(10)

batsmanName
KLRahul            50.53
FafduPlessis       43.60
DavidMiller        43.20
JosButtler         41.92
ShimronHetmyer     40.67
ShubmanGill        40.27
ShikharDhawan      39.77
RuturajGaikwad     38.22
DavidWarner        37.90
SuryakumarYadav    35.00
Name: batting_average, dtype: float64

### Top 10 bowlers based on past 3 years economy rate. (min 60 balls bowled in each season)

In [17]:
#mergeing the tables to get the season:
new_fact_balling = fact_balling.merge(dim_match_summary[['match_id','matchDate']],how = 'inner', on = 'match_id')
#Extracting the year(seaosn) from the date column:
new_fact_balling['season'] = pd.to_datetime(new_fact_balling['matchDate']).dt.year
#Let's define the condition that the players should have balled 60> more balls:
new_fact_balling_60 = new_fact_balling.groupby(['season','bowlerName']).filter(lambda x:(x['overs'].sum()>=10))
#Let's start the process of filtering out only those players who have playes all three season:
season_played = new_fact_balling_60.groupby('bowlerName')['season'].nunique()
season_played_3 = season_played[season_played==3].index
new_df = new_fact_balling_60[new_fact_balling_60['bowlerName'].isin(season_played_3)]
#Now all we need is to group by the names and start finding the economy rates:
final_df = new_df.groupby('bowlerName').agg({'overs': 'sum', 'runs': 'sum'})
final_df['economy'] = final_df['runs'] / final_df['overs']
final_df['economy'].nsmallest(10)

bowlerName
SunilNarine           6.600000
MoeenAli              7.086280
RashidKhan            7.091922
AxarPatel             7.113636
RavindraJadeja        7.393939
KrunalPandya          7.453581
RavichandranAshwin    7.532051
VarunChakravarthy     7.584693
HarpreetBrar          7.609682
RaviBishnoi           7.676408
Name: economy, dtype: float64

### Orange and Purple Cap players for each season:
### Orange Cap:

In [18]:
#We are using the merged df we made before with seasons extracted.
#Now we need to group it as per the seasons and the batsmans:
total_runs = bat_with_date.groupby(['Season','batsmanName']).sum('runs')
ranked = total_runs.groupby('Season').rank(ascending = False)
Orange_cap = ranked['runs'].nsmallest(3)
Orange_cap

Season  batsmanName
2021    RuturajGaikwad    1.0
2022    JosButtler        1.0
2023    ShubmanGill       1.0
Name: runs, dtype: float64

### Similarly we can find the purple cap players too:

In [19]:
total_wickets = new_fact_balling.groupby(['season','bowlerName']).sum('wickets')
ranked = total_wickets.groupby('season').rank(ascending = False)
Purple_cap = ranked['wickets'].nsmallest(3)
Purple_cap

season  bowlerName
2021    HarshalPatel       1.0
2022    YuzvendraChahal    1.0
2023    MohammedShami      1.0
Name: wickets, dtype: float64